#sorting-items li{
  list-style: none;
  display: inline-block;
}

#sorting-items li h1{
  font-size: 1rem;
  font-weight: 400;
  color: #7F56C5;
}

#sorting-items li h1 p{
  font-size: 1rem;
  font-weight: 300;
  color: #BCBEC0;
}
